@font-face {
  font-family: "iconfont"; /* Project id 5121120 */
  src: url('iconfont.woff2?t=1770184763593') format('woff2'),
       url('iconfont.woff?t=1770184763593') format('woff'),
       url('iconfont.ttf?t=1770184763593') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before {
  content: "\e940";
}

.icon-tongzhizhongxin:before {
  content: "\e609";
}

.icon-yinlian:before {
  content: "\e614";
}

.icon-weixinzhifu:before {
  content: "\e662";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-fuwu:before {
  content: "\e651";
}

.icon-fuwu-selected:before {
  content: "\e856";
}

.icon-baoguodaiji:before {
  content: "\e603";
}

.icon-daimai:before {
  content: "\e7e7";
}

.icon-daiban:before {
  content: "\e66e";
}

.icon-daiqukuaidi:before {
  content: "\e61e";
}

.icon-daisonghuo2:before {
  content: "\e79d";
}

.icon-dingdan:before {
  content: "\e855";
}

.icon-xiugaimima:before {
  content: "\e611";
}

.icon-dizhiguanli:before {
  content: "\e601";
}

.icon-wode-dingdan:before {
  content: "\e652";
}

.icon-shezhi:before {
  content: "\e851";
}

.icon-shouye:before {
  content: "\e602";
}

.icon-wode:before {
  content: "\e608";
}

.icon-shouye-selected:before {
  content: "\e852";
}

.icon-wode-selected:before {
  content: "\e853";
}

.icon-dingdan-selected:before {
  content: "\e854";
}

